.DS_Store
build
coverage
html-report
deps/build
node_modules
*.log
.vscode
*.o
*.Plo
.dirstamp
*.lo
*.la
*.a
*.Po
*.res
*.trs
autom4te.cache
build-aux
.libs
.deps
deps/libsodium/**/Makefile
deps/libsodium/**/Makefile.in
deps/libsodium/config.status
deps/libsodium/configure
deps/libsodium/aclocal.m4
deps/libsodium/libsodium-uninstalled.pc
deps/libsodium/libsodium.pc
deps/libsodium/libtool
deps/libsodium/src/libsodium/include/sodium/version.h
lib-cov
convershot
html-report
coverage.html
.vscode-upload.json
.vscode
test/default
deps/libsodium/m4/libtool.m4
deps/libsodium/m4/ltoptions.m4
deps/libsodium/m4/ltsugar.m4
deps/libsodium/m4/ltversion.m4
deps/libsodium/m4/lt~obsolete.m4
deps/libsodium/test/default/aead_aes256gcm
deps/libsodium/test/default/aead_chacha20poly1305
deps/libsodium/test/default/aead_xchacha20poly1305
deps/libsodium/test/default/auth
deps/libsodium/test/default/auth2
deps/libsodium/test/default/auth3
deps/libsodium/test/default/auth5
deps/libsodium/test/default/auth6
deps/libsodium/test/default/auth7
deps/libsodium/test/default/box
deps/libsodium/test/default/box2
deps/libsodium/test/default/box7
deps/libsodium/test/default/box8
deps/libsodium/test/default/box_easy
deps/libsodium/test/default/box_easy2
deps/libsodium/test/default/box_seal
deps/libsodium/test/default/box_seed
deps/libsodium/test/default/chacha20
deps/libsodium/test/default/codecs
deps/libsodium/test/default/core1
deps/libsodium/test/default/core2
deps/libsodium/test/default/core3
deps/libsodium/test/default/core4
deps/libsodium/test/default/core5
deps/libsodium/test/default/core6
deps/libsodium/test/default/core_ed25519
deps/libsodium/test/default/ed25519_convert
deps/libsodium/test/default/generichash
deps/libsodium/test/default/generichash2
deps/libsodium/test/default/generichash3
deps/libsodium/test/default/hash
deps/libsodium/test/default/hash3
deps/libsodium/test/default/kdf
deps/libsodium/test/default/keygen
deps/libsodium/test/default/kx
deps/libsodium/test/default/metamorphic
deps/libsodium/test/default/misuse
deps/libsodium/test/default/onetimeauth
deps/libsodium/test/default/onetimeauth2
deps/libsodium/test/default/onetimeauth7
deps/libsodium/test/default/pwhash_argon2i
deps/libsodium/test/default/pwhash_argon2id
deps/libsodium/test/default/pwhash_scrypt
deps/libsodium/test/default/pwhash_scrypt_ll
deps/libsodium/test/default/randombytes
deps/libsodium/test/default/scalarmult
deps/libsodium/test/default/scalarmult2
deps/libsodium/test/default/scalarmult5
deps/libsodium/test/default/scalarmult6
deps/libsodium/test/default/scalarmult7
deps/libsodium/test/default/scalarmult_ed25519
deps/libsodium/test/default/secretbox
deps/libsodium/test/default/secretbox2
deps/libsodium/test/default/secretbox7
deps/libsodium/test/default/secretbox8
deps/libsodium/test/default/secretbox_easy
deps/libsodium/test/default/secretbox_easy2
deps/libsodium/test/default/secretstream
deps/libsodium/test/default/shorthash
deps/libsodium/test/default/sign
deps/libsodium/test/default/siphashx24
deps/libsodium/test/default/sodium_core
deps/libsodium/test/default/sodium_utils
deps/libsodium/test/default/sodium_utils2
deps/libsodium/test/default/sodium_utils3
deps/libsodium/test/default/sodium_version
deps/libsodium/test/default/stream
deps/libsodium/test/default/stream2
deps/libsodium/test/default/stream3
deps/libsodium/test/default/stream4
deps/libsodium/test/default/verify1
deps/libsodium/test/default/xchacha20
