.svn
.DS_Store
node_modules/should/.idea/workspace.xml
build/*
.idea/*
*.lock
build
.idea/
html-report/
lib-cov/
node_modules/
node-sodium.sublime-project
node-sodium.sublime-workspace
*.o
*.lo
*.deps
*.dirstamp
*.la
coverage/