.DS_Store
build
coverage
html-report
deps/build
node_modules
*.log
.vscode
*.o
*.Plo
.dirstamp
*.lo
*.la
*.a
*.Po
*.res
*.trs
autom4te.cache
build-aux
.libs
.deps
deps/libsodium/**/Makefile
deps/libsodium/**/Makefile.in
deps/libsodium/config.status
deps/libsodium/configure
deps/libsodium/aclocal.m4
deps/libsodium/libsodium-uninstalled.pc
deps/libsodium/libsodium.pc
deps/libsodium/libtool
deps/libsodium/src/libsodium/include/sodium/version.h
lib-cov
convershot
html-report
coverage.html