sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  -  4
  - "5.8.0"

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_install:
  - export JOBS=max
  - export prebuild_compile=true
